/* Tachyons CSS */
@import url("https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css");


/* Custom defined CSS */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sticky { position: sticky; }
.w6 { width: 28rem; }
.transparent { color: transparent; }
.b--moon-silver { border-color: #e4e4e4; }

.bg-to-top-white {
  background-color: transparent;
  background-image: linear-gradient(white, rgba(255,255,255, 0.7), transparent);
}

.bg-to-bottom-white {
  background-color: transparent;
  background-image: linear-gradient(transparent, rgba(255,255,255, 0.7), white);
}